doctype 5
html
    head
        title KON Secret Santa 2013
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/css/style.css')
    body.preload
        .container-main.container
            a(href='')
                h1.title
                    img(src='/images/title.png', alt='KON Secret Santa 2013')

            .section
                h2 What?
                p: :markdown
                    This is a secret santa app for members of the exclusive club [KON](http://www.knights-of-ni.co.uk/board).

            .section
                h2 How?
                p Sign up and verify your account. You'll get an email when it starts. You can also login to find out your secret santa.
                if user
                    .well.well-success
                        .clearfix
                            h4.pull-left Signed in as #{user.name}
                            a.btn.btn-default.pull-right(href='/logout') Logout

                    if !user.verified
                        .well.well-primary
                            h3 Verify your account
                            form.form-inline(method='POST', action='/verify').clearfix
                                if errors.verify
                                    .alert.alert-danger= errors.verify

                                .form-group.form-group-l.pull-left
                                    label.sr-only(for='verify-email') The code we emailed you
                                    input#verify-email.form-control(type='text', name='verify_email', placeholder='The code we emailed you', required)

                                .form-group.form-group.pull-left
                                    label.sr-only(for='verify-kon') Mo's house number
                                    input#verify-kon.form-control(type='text', name='verify_kon', placeholder="Mo's house number", required)

                                button#login-submit.btn.btn-primary.pull-right(type="submit") Verify me
                    else
                        .well.well-primary
                            if santa
                                a.btn.btn-primary.pull-right(href="/") Hide
                                h3 Your secret santa is:
                                h2.santa= santa

                            else
                                h3 Get you secret santa
                                form.form-inline(method='POST', action='/unlock').clearfix

                                    if errors.unlock
                                        .alert.alert-danger= errors.unlock

                                    .form-group.form-group-s
                                        label.sr-only(for='login-password') Password
                                        input#login-password.form-control(type='password', name='password', placeholder='Password',required)

                                    button#login-submit.btn.btn-primary(type="submit") Unlock

                else
                    - login = login || {}
                    form.form-inline(method='POST', action='/').clearfix

                        .well.well-primary.clearfix
                            if errors.login
                                each error in errors.login
                                    .alert.alert-danger= error

                            .form-group
                                label.sr-only(for='login-email') Email address
                                input#login-email.form-control(type='email', name='email', placeholder='Email', required, value=login.email)
                            .form-group.form-group-s
                                label.sr-only(for='login-password') Password
                                input#login-password.form-control(type='password', name='password', placeholder='Password',required)

                            .form-button: .checkbox: label.btn.btn-default.btn-info
                                = 'New user? '
                                input#login-register(type='checkbox', name='register' checked=login.register)
                            .form-group.form-group-s(class=login.register ? '' : 'hide')
                                label.sr-only(for='login-name') Name
                                input#login-name.form-control(type='text', name='name', placeholder='Name', value=login.name)

                            button#login-submit.btn.btn-default.btn-primary(type='submit') Sign in

            .section
                h2 Santas
                p Who's entered this year:
                if users
                    ul: each u in users
                        li #{u.name} #{user && user.verified ? '('+u.email+')' : ''}

            if user && user.admin
                .section
                    h2 Exclusions
                    p People who can't get each other

                    form.form-inline(method='POST', action='/exclude')
                        .form-group
                            select.form-control(name='exclude[]')
                                each u in users
                                    option(value=u.email)= u.name
                        span.divider-inline= ' and '
                        .form-group
                            select.form-control(name='exclude[]')
                                each u in users
                                    option(value=u.email)= u.name
                        button#exclude-submit.btn.btn-default(type="submit") Exclude

                    ul.alt
                        each e in exclusions
                            li.exception
                                span.names #{e.users[0].name} and #{e.users[1].name}
                                form.inline-form(method='POST', action='/exclude/'+e._id)
                                    input(type='hidden', name='_method', value='delete')
                                    button.btn.btn-danger.btn-sm(type="submit") Remove

                .section
                    h2 Mission control
                    form.launch(method='POST', action='/launch')
                        button.btn.btn-danger.btn-lg.pull-left(type='submit', disabled=!possible) Launch
                        if !possible
                            h3.pull-left Warning! secret santa not possible.

        script(src='/js/vendor/jquery-1.10.2.js')
        script(src='/js/vendor/raf.js')
        script(src='/js/app.js')
